body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  #x{
    text-align: center;
  }
  
  h1, h2, h3 {
    color: #ffff;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('./1.jpeg'); /* Set the background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
  }
  
  
  nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
  }
  
  .navbar-brand, .nav-link, .btn {
    color: #fff !important;
  }
  
  .container {
    width: 500px;
    padding: 40px 20px; /* Increased top and bottom padding */
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Decreased input box size for username and password */
  input[type="text"], input[type="password"] {
    width: calc(100% - 16px); /* Adjusted width */
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .btn-danger {
    background-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  .table-responsive {
    overflow-x: auto;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f8f8f8;
  }
  
  #home, #candidatelist, #voterlist {
    margin-bottom: 40px;
  }
  
  .fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .fixed-button a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }
  
  .fixed-button a:hover {
    background-color: #0056b3;
  }